body{
	font-family: 'Monoton', cursive;

}
.container{
	display: -webkit-flex;
    display: flex;
    width: 100%;
    float: left;c
}
/*h1{
	color: deepskyblue;
	letter-spacing: 2px;
	word-spacing: 10px;
	font-size: 2em;
}*/
#blue_box, #pink_box, #yellow_box, #green_box , #grey_box, #dark_blue_box, #purple_box{
	height: 600px;
	width: 300px;
	margin-right: 10px;
}
#blue_box{
	background-color: deepskyblue;
}
#pink_box{
	background-color: #ff0066;
}
#yellow_box{
	background-color: #ffff00;
}
#green_box{
	background-color:#00ff00;
}
#grey_box{
	background-color: grey;
}
#dark_blue_box{
	background-color:#3333cc;
}
#purple_box{
	background-color:#6600cc;
}
#circle{
	width: 100px;
	height: 100px;
	background: cyan;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
#triangle{
	width: 0;
	height: 0;
	border-left: 50px 
	solid transparent; 
	border-right: 50px solid transparent; 
	border-bottom: 100px solid green;
}

#click{
	background-color:red;
	color:white;
}
.clicked{
	background-color: blue;
}
#black_stripe{
	background-color: black;
	width: 800px;
	margin-top:20px;
	height: 50px;
}
#purple_stripe{
	background-color: purple;
	width: 700px;
	height: 4px;
	margin-top: 20px;
}
#red_stripe{
	background-color: red;
	width: 500px;
	height: 15px;
	margin-top: 20px;
}
#orange_stripe{
	background-color: orange;
	width: 900px;
	height: 2px;
	margin-top: 20px;
}